.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.menu__title {
  margin: 100px auto 0;
  max-width: 780px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 24px auto 0;
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 100px;
  column-gap: 100px;
  justify-content: center;
  padding: 0;
}
